<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <connectionStrings>
    <add name="connectString" connectionString="Data Source=172.17.1.71;Initial Catalog=LibrayManagementTZQ;User Id=betterdev;Password=better2008;"/>
  </connectionStrings>
  <appSettings>
    <add key="connectString" value="Data Source=172.17.1.71;Initial Catalog=LibrayManagementTZQ;User Id=betterdev;Password=better2008;"/>
    <add key="DAL" value="DataAccess"/>
  </appSettings>
</configuration>